build-FinalProject-Desktop_Qt_5_13_1_GCC_64bit-Debug/
build-FinalProject-Desktop_Qt_5_13_1_GCC_64bit-Release/
build-FinalProject-Desktop-Debug/
build-FinalProject-Desktop_Qt_5_13_0_GCC_64bit-Debug/
build-*/
*.a
*.o
